<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ShareMe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="/stylesheet/main.css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">

        
       
      </head>
    <body>
      

        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" href="/">ShareMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                  <%if(!currentUser){%>
                    <li class="nav-item ">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/register">SignUp</a>
                    </li>
                  <%}else{%>
                    <li class="nav-item">
                      <a class="nav-link">Signed in as <%=currentUser.username%></a></li>
                    <li class="nav-item ">
                      <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    
                    <%}%>
              </ul>
              
            </div>
          </nav>
                

            <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
          <script>
            $(document).ready(function(){
              function alignModal(){
                var modalDialog = $(this).find(".modal-dialog");
                /* Applying the top margin on modal dialog to align it vertically center */
                modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
              }
              // Align modal when it is displayed
              $(".modal").on("shown.bs.modal", alignModal);
              
              // Align modal when user resize the window
              $(window).on("resize", function(){
                $(".modal:visible").each(alignModal);
              });   
            });
            </script>
   