<%-include("partials/header.ejs") %>
<div class="container flash">
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert"><%=error%></div>
    <%}if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert"><%=success%></div>
    <%}%>
  </div>
<form action = "/login  " method = "post">

    <input class="form-control" type="text" name="username" placeholder="username" required>
    <input class="form-control" type="password" name="password" placeholder="password" required>
    <button>Submit</button>
</form>


<%-include("partials/footer.ejs") %>