<%-include("partials/header.ejs") %>
<div class="container flash">
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert"><%=error%></div>
    <%}if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert"><%=success%></div>
    <%}%>
  </div>

<div class="container">
	<div>
		<h1>
			Login
		</h1><br>
		<div class="mobile">
			<form action = "/login  " method = "post">
				<div class="form-group">
          <label for="exampleInputEmail">Email address</label>
					<input class="form-control" type="text" name="username" placeholder="username" id="exampleInputEmail" required>
				</div>
				
				<div class="form-group">
          <label for="pass">Password</label>
					<input class="form-control" type="password" name="password" placeholder="password" id="pass" required>
        </div>
        
				
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block ">
						Login
					</button>
				</div>

			</form>
			<a href="/">Go back</a>
		</div>
		
	</div>
	
</div>


<%-include("partials/footer.ejs") %>